.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  background-color: #fa8072;

}

#quote-box {
  background-color: #fff;
  color: #fa8072;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#text{
  margin-bottom: 10px;
}
#author {
  margin-left: auto;
  margin-top: 0;
  font-size: calc(4px + 2vmin);
}
#new-quote {
  width: 100px;
  border: none;
  background-color: #fa8072;
  color: #fff;
  height: 20px;
}
#new-quote:hover {
  cursor: pointer;
  opacity: .8
}
#tweet-quote {
  margin-right: auto;
}
